html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #404bbf;
    --primary-bg-color: #ffffff;
    --sectoin-bg-color:#F4F4FD;
    --footer-logo-color: #4d5ae5;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}

.list { 
    list-style: none;
}

.link {
    text-decoration: none;
}

.solvable{
    background-color:var(--title-text-color);
}

/* header-style */ 

.header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #e7e9fc

}

.list {
    display: flex;
    align-items: center;
}

.header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo-color);
}

.header-logo {
    display: flex;
    width: 120px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo-color);
    margin-bottom: 16px;
    margin-right: 76px;
    /* border: 1px solid black; */
}


.header-logo-studio {
    color: var(--sectoin-bg-color);
}

/* header-navigation link */

.header-navigation.link {
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.style-logos.link {
    font-family: "Raleway";
    font-style: normal;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.navigation-list:hover,
.navigation-list:focus {
color: var(--accent-color);
}

.navigation-list {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--title-text-color);
display: flex;
gap: 40px;
padding: 24px 0;
}

/* header-address link */

.header-address-link-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    gap: 40px;
}

.header-address.link {
    display: flex;
    margin-right: 40px;
}

.header-address-link:hover,
.header-address-link:focus {
color: var(--accent-color);
}

.header-address {
    font-style: normal; 
}

.header-address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-right: 40px;
}

.header-address-link-mail:hover,
.header-address-link-mail:focus {
color: var(--accent-color);
}

.header-address-link-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-right: 0;
}

.header-buttion:hover,
.header-buttion:focus {
color: var(--accent-color);
}

/* Header-buttion */

.header-buttion.primatery:hover,
.header-buttion.primatery:focus {
    color:var(--primary-bg-color);
}

.header-buttion.primatery {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color:var(--accent-color);
    color: var(--primary-bg-color);
}

.header-buttion.secondary:hover,
.header-buttion.secondary:focus {
    background: var(--accent-color);
    color:var(--primary-bg-color);
}

.header-buttion.secondary {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--sectoin-bg-color);
    color: var(--footer-logo-color);
}

/* solvable */

.solvable {
    padding: 188px 0;
    display: flexbox;
}

.solvable-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--primary-bg-color);
    max-width: 496px;
}

.header-buttion.solnable:hover,
.header-buttion.solnable:focus {
    background-color: var(--footer-logo-color);
    color:var(--primary-bg-color);
}

.header-buttion.solnable {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto 48px;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
} 

.second-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
background-color: var(--primary-bg-color);
color: var(--title-text-color);
}

.first-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-text-color);
}

.about {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

/* container possibilities */

.Possibilities {
    padding: 120px 0;
}

.visually-hidden {
    font-weight: 500;
    font-size: 20px;
    color: var(--title-text-color);
}

.container.possibilities {
    display: flex;
}

.compound.list {
    display: block;
    gap: 24px;
}

.second-title.list {
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;
}

/* goal-style */

.goal-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
}

.goal-item.list {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
}

.list-goal {
    display: flex;
    gap: 24px;
}

.goal-style {
    padding-bottom: 120px;
}



/* Sectio-team */

.sectio.team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.compoid.list {
    background-color: #FFFFFF;
}

.second-title.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}

.team-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.compoid-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    gap: 24px;
    }

.sectio-team {
    padding: 120px 0;
}

.team-name {
    padding: 32px 16px 32px;
    display: flex;
}

.team-posts {
    margin-bottom: 8px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*row list  */

.row-list {
    list-style: none;
}

.horo-row {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.botton-row {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* Footer */

.footer {
    background: var(--title-text-color);
    padding: 100px 0;
}

.footer .container {
    display: inline-block;
    width: 1158px;
    padding: 100px 0;
    margin: 0 auto;
    flex-direction: column;
}

.footer-logo {
    display: inline-block;
    width: 120px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-logo-color);
    margin-bottom: 16px;
    /* border: 1px solid black; */
}


.footer-logo-studio {
    color: var(--sectoin-bg-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--sectoin-bg-color);
    max-width: 264px;
}

